DB_USER=brasiluser
DB_PASS=Lf64uzy2DK
DB_NAME=brasilcard
DB_PORT=5432
DATABASE_URL="postgres://brasiluser:Lf64uzy2DK@localhost:5432/brasilcard"
PORT=3000
JWT_SECRET=f0PYo5YEqeom3i3XOv8SADNEGmhqkIFpqwlTHhJTQHjdOkN+SPmvG4xsDc5REkvL